node_modules
.cache
.parcel-cache
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
.parcel-cache/4e576e332d817d99
.parcel-cache/8eb8d6019dc77095.txt
.parcel-cache/a384f0ec43b99fbc
.parcel-cache/a7212473dce0d202
.parcel-cache/d2ee1adb323b65d6
