// Variables
$background-color: #161616;
$white: #dedede;
$darker-white: #cbb;
$favorite-red: rgb(168, 10, 10);
$transition-speed: 0.2s;
$radius: 6px;

html * {
  font-family: Arial !important;
}

// Base styles
h1,
h2,
h3,
h4,
p,
a,
label {
  color: $white;
}

body {
  background-color: $background-color;
  margin: 0;
  padding-bottom: 43px;
}

button {
  background: $favorite-red;
  border: 1px solid $favorite-red;
  border-radius: $radius;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 0 10px 10px 0;

  &:hover {
    background-color: initial;
    background-position: 0 0;
    color: $favorite-red;
  }
  &:active {
    background-color: initial;
    background-position: 0 0;
    color: $favorite-red;
    opacity: 0.5;
  }
}

.login-view,
.signup-view {
  p,
  h1,
  a {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

/* NavigationBar Component */
.navigation {
  position: fixed;
  top: 0;
  background-color: #242424;
  color: $white;
  padding: 0 25px;
  z-index: 20;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;

  a {
    color: $white;
    text-decoration: none;
    transition: color 0.1s;
    box-sizing: border-box;

    &:hover {
      color: $darker-white;
    }
  }
  .nav-logo {
    width: fit-content;
    align-self: center;
    font-size: xx-large;
  }
  .nav-link-container {
    justify-self: end;
    align-self: center;

    a {
      margin-left: 20px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  div {
    margin-bottom: 15px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  input {
    width: 227px;
    padding: 12px;
    border: 1px solid $white;
    border-radius: $radius;
    background-color: $background-color;
    color: $white;
    transition: border-color $transition-speed, box-shadow $transition-speed;

    &:focus {
      border-color: $favorite-red;
      box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.3);
    }

    &::placeholder {
      color: $darker-white;
    }
  }
}

.content-box {
  margin-top: 73px;
  padding: 0 5%;
}

.search-bar {
  display: block;
  border-radius: $radius;
  height: 20px;
  width: 250px;
  border: $white solid;
  padding-left: 10px;
  margin: 0 auto 30px auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.big-poster {
  width: 500px;
}

.profile-view {
  .account-info {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5%;
  }

  .remove-profile-button {
    margin-top: 186px;
  }

  form {
    align-items: start;
  }
}

.info-box {
  background-color: #242424;
  border: double $favorite-red 10px;
  border-radius: $radius;
  width: 308px;
  padding: 40px;
  margin-bottom: 20px;
}

.movie-view {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5%;
  margin-top: 130px;

  .info-box {
    height: fit-content;
  }
}

// Movie Card styles
.movie-card {
  width: 20em;
  background: $background-color;
  cursor: pointer;
  position: relative;
  border: none;
  transition: transform $transition-speed, opacity $transition-speed;
  border-radius: $radius;

  &:hover {
    transform: scale(1.1);
    z-index: 3;
  }

  .card-poster {
    aspect-ratio: 7/10;
    width: 100%;
    border-radius: $radius;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 50%
    );
    opacity: 0;
    transition: opacity $transition-speed;

    &:hover {
      opacity: 1;
    }

    .overlay-textbox {
      position: absolute;
      bottom: 0;
      height: 25%;
      display: grid;
      grid-template-columns: 5fr 1fr;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    .overlay-text {
      justify-self: start;
    }

    .favorite-button {
      height: 32px;
      width: 32px;
      padding: 0;
      border: 0;
      background-color: transparent;
      justify-self: center;
      align-self: center;
      width: 40px;
    }
  }

  .favorite-button-icon {
    height: 32px;
    width: 32px;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
